<div class="hero-area">
  <div class="page-banner parallax" style="background-image:url('../../assets/images/carousel2.jpg');">
    <div class="container">
      <div class="page-banner-text">
        <h1 class="block-title">Nos Événements </h1>
      </div>
    </div>
  </div>
</div>
<div class="spacer-75"></div>

<div class="container">

  <div class="col-md-12 col-sm-12" *ngIf="event">
    <div class="well widget widget_volunteer_form">


      <div style="text-align: center;"><h2>  {{event.titre}} </h2> <span
        *ngIf="(event.dateFin|date:'shortDate') < (dateJour | date:'shortDate')" class="badge badge-danger">
        Passé



      </span></div>


      <hr/>
      <div class="row">
        <div class="col-sm-6">
          <p><strong>Déscription :</strong> {{event.description}} </p>


        </div>
        <div class="col-sm-6">
            <div ><i class="fas fa-clock"></i>
              Du     <strong> {{event.dateDebut | date:'dd-MM-yyyy'}} </strong>  au
              <strong> {{event.dateFin | date:'dd-MM-yyyy'}}</strong>

            </div>
          <div class="spacer-50"></div>


          <div ><i class="fas fa-map-marked-alt"></i>  Lieu :
            <strong> {{event.ville}}</strong> , <strong>{{event.adresse}}</strong>
          </div>
          <br>
          <div class="row" *ngIf="event.frais">
            <div class="col-sm-6">
              <strong> <i class="fas fa-money-check-alt"></i> Prix d'inscription? :</strong>  {{event.frais}} DT
            </div>
            <div class="col-sm-6">
              <span class="badge badge-success">Inscription obligatoire</span></div>
          </div>


        </div>
      </div>
      <br>

      <div class="tabs">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#sampletab1"> Besoin des biens </a></li>
          <li><a data-toggle="tab" href="#sampletab2"> Missions bénévoles </a></li>
        </ul>
        <div class="tab-content">
          <div id="sampletab1" class="tab-pane active">
            <div class="alert alert-danger" role="alert" *ngIf="biens.length == 0">
              Cet événement ne contient pas des besoins
            </div>
            <br>


            <table class="table table-bordered" *ngIf="biens.length != 0">
              <small *ngIf="greater" class="text-danger"> Vous avez dépassé la quantité restante!!! </small>

              <!--Table head-->
              <thead class="table-active ">
              <tr>
                <th>
                  <div style="text-align: center; color: black">Titre Bien</div>
                </th>
                <th>
                  <div style="text-align: center;color: black">Quantités demandées</div>
                </th>
                <th>
                  <div style="text-align: center;color: black">Totale Quantités données</div>
                </th>
                <th>
                  <div style="text-align: center;color: black">Reste</div>
                </th>

                <th>
                  <div style="text-align: center;color: black">Votre Don</div>
                </th>

              </tr>
              </thead>
              <!--Table head-->


              <tbody *ngFor="let b of biens| paginate:{
    id:'listing_pagination',
    itemsPerPage:10,
    currentPage:page,
    totalItems:totalbien

    }">
              <tr>
                <td>
                  <div style="text-align: center; color: black">{{b.id}}**{{b.titreBien}}</div>
                </td>
                <td>
                  <div style="text-align: center;color: black">{{b.qte}}</div>
                </td>
                <td>
                  <div style="text-align: center;color: black">{{b.totaleqteDonnee}}</div>
                </td>
                <td>
                  <div style="text-align: center;color: black">{{b.qte - b.totaleqteDonnee}}</div>
                </td>
                <td>
                  <div style="text-align: center;">

                    <form [formGroup]="myForm" (ngSubmit)="addParticipationBien(b)">
                      <div class="input-group" *ngIf="(b.evenement.dateFin|date:'shortDate') >= (dateJour |date:'shortDate')">

                        <input class="form-control mr-sm-2" type="number" class="form-control mr-sm-2 "
                               name="qtedonnee"
                               *ngIf="b.qte>b.totaleqteDonnee && userService.isAuthenticated() "
                               id="qtedonnee" formControlName="qtedonnee" placeholder="Taper Votre Don" min="0">
                        <span class="input-group-btn">
                         <button class="btn btn-primary btn-sm"
                                 *ngIf="userService.isAuthenticated() && b.qte>b.totaleqteDonnee "
                                 title="Donner"
                                 type="submit">
                      <i class="fas fa-hand-holding-medical"></i>
                         </button>
                          </span>
                      </div>
                    </form>


                    <div class="input-group-btn" *ngIf="(b.evenement.dateFin|date:'shortDate') >= (dateJour |date:'shortDate')">
                      <button class="btn btn-primary btn-sm"
                              *ngIf="!userService.isAuthenticated() && b.qte>b.totaleqteDonnee "
                              title="Donner"
                              data-toggle="modal"
                              data-target="#modallogin"><i
                        class="fas fa-hand-holding-medical"></i>
                      </button>
                    </div>
                    <h1
                      *ngIf="b.qte==b.totaleqteDonnee && (b.evenement.dateFin|date:'shortDate') >= (dateJour |date:'shortDate')"><span
                      class="badge badge-success">Nous avous obtenu le besoin</span>
                    </h1>

                    <h1 *ngIf="(b.evenement.dateFin|date:'shortDate') < (dateJour  |date:'shortDate')">
                      <span
                        class="badge badge-danger">Cet événement est passé</span>

                    </h1>

                  </div>
                </td>


              </tr>

              </tbody>
              <!--Table body-->
            </table>


            <div style="text-align: center;" *ngIf="biens.length != 0">
              <pagination-controls class="my-pagination" id="listing_pagination" maxSize="5" directionLinks="true"
                                   previousLabel="Précédent"
                                   nextLabel="Suivant"
                                   responsive
                                   (pageChange)="page=$event"></pagination-controls>

            </div>
          </div>

          <div id="sampletab2" class="tab-pane">
            <div *ngIf="userService.isAuthenticated()">
              <div class="alert alert-danger" role="alert" *ngIf="missionsAuth.length == 0">
                Cet événement ne contient pas des missions.
              </div>
              <table class="table table-bordered " *ngIf="missionsAuth.length != 0">

                <!--Table head-->
                <thead class="table-active ">
                <tr>
                  <th>
                    <div style="text-align: center;color: black">Titre Mission</div>
                  </th>
                  <th>
                    <div style="text-align: center;color: black">Déscription</div>
                  </th>


                  <th>
                    <div style="text-align: center; color: black">Postuler</div>
                  </th>
                </tr>
                </thead>
                <!--Table head-->

                <!--Table body-->
                <tbody *ngFor="let m of missionsAuth| paginate:{
    id:'listing_pagination2',
    itemsPerPage:10,
    currentPage:pagem,
    totalItems:totalmission

    }">
                <tr>
                  <td>
                    <div style="text-align: center; color: black">{{m.mission.id}}*{{m.mission.titre}}</div>
                  </td>
                  <td>
                    <div style="text-align: center;  color: black">{{m.mission.description}}</div>
                  </td>


                  <td>
                    <div style="text-align: center; color: black"
                         *ngIf="(m.mission.evenement.dateFin|date:'shortDate') >= (dateJour |date:'shortDate')">


                      <button [disabled]="true" *ngIf="m.exist==1 && m.affected==0"
                              class="btn btn-info btn-rounded btn-sm">
                        En Attente

                      </button>

                      <button *ngIf="m.exist==1 && m.affected==0"
                              class="btn btn-danger btn-rounded btn-sm" data-toggle="modal"
                              data-target="#modalAnnulation">
                        Annuler Votre demande

                      </button>
                      <!-- Modal -->
                      <div class="modal fade" id="modalAnnulation" tabindex="-1" role="dialog"
                           aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="m.exist==1 && m.affected==0">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Annuler votre condidature</h5>

                            </div>
                            <div class="modal-body">
                              vous êtes sûre d'annuler votre candidature pour <strong>{{m.mission.titre}}</strong>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary btn-rounded" data-dismiss="modal">Fermer
                              </button>

                              <button type="button" (click)="libererMission(m.mission)" data-dismiss="modal"
                                      class="btn btn-danger btn-rounded btn-sm">Oui

                              </button>

                            </div>
                          </div>
                        </div>
                      </div>


                      <button [disabled]="true" *ngIf="m.exist==1 && m.affected==1"
                              class="btn btn-success btn-rounded btn-sm">
                        Vous êtes affecté à cette mission <span class=" fas fa-heart"></span>
                      </button>
                      <form (ngSubmit)="addParticipationMission(m.mission)" class="form-inline my-2 my-lg-0">
                        <button *ngIf="m.exist==0"
                                class="btn btn-info btn-rounded btn-sm"
                                title="Postuler">


                          <i class="fas fa-hands-helping"></i>
                        </button>
                      </form>
                    </div>
                    <h1 *ngIf="(m.mission.evenement.dateFin|date:'shortDate') < (dateJour |date:'shortDate')">
                      <span
                        class="badge badge-danger">Cet événement est passé</span>

                    </h1>

                  </td>

                </tr>

                </tbody>
                <!--Table body-->

              </table>
              <div style="text-align: center;" *ngIf="missionsAuth.length != 0">
                <pagination-controls class="my-pagination" id="listing_pagination2" maxSize="5" directionLinks="true"
                                     previousLabel="Précédent"
                                     nextLabel="Suivant"
                                     responsive
                                     (pageChange)="pagem=$event"></pagination-controls>

              </div>
            </div>


            <div *ngIf="!userService.isAuthenticated()">
              <div></div>
              <div class="alert alert-danger" role="alert" *ngIf="missionsNotAuth.length == 0">
                Cet événement ne contient pas des missions.
              </div>
              <table class="table table-bordered " *ngIf="missionsNotAuth.length != 0">

                <!--Table head-->
                <thead class="table-active ">
                <tr>
                  <th>
                    <div style="text-align: center;color: black">Titre Mission</div>
                  </th>
                  <th>
                    <div style="text-align: center;color: black">Déscription</div>
                  </th>


                  <th>
                    <div style="text-align: center; color: black">Postuler</div>
                  </th>
                </tr>
                </thead>


                <!--Table body-->
                <tbody *ngFor="let m of missionsNotAuth| paginate:{
    id:'listing_pagination2',
    itemsPerPage:10,
    currentPage:pagem,
    totalItems:totalmission

    }">
                <tr>
                  <td>
                    <div style="text-align: center; color: black">{{m.id}}*{{m.titre}}</div>
                  </td>
                  <td>
                    <div style="text-align: center;  color: black">{{m.description}}</div>
                  </td>


                  <td>
                    <div style="text-align: center; color: black">


                      <button class="btn btn-info btn-rounded btn-sm"
                              title="Postuler" data-toggle="modal"
                              data-target="#modallogin"
                              *ngIf="(m.evenement.dateFin|date:'shortDate') >= (dateJour |date:'shortDate')">
                        <i class="fas fa-hands-helping"></i></button>


                      <h1 *ngIf="(m.evenement.dateFin|date:'shortDate') < (dateJour |date:'shortDate')">
                      <span
                        class="badge badge-danger">Cet événement est passé</span>

                      </h1>


                    </div>
                  </td>

                </tr>

                </tbody>
                <!--Table body-->

              </table>
              <div style="text-align: center;" *ngIf="missionsNotAuth.length != 0">
                <pagination-controls class="my-pagination" id="listing_pagination3" maxSize="5" directionLinks="true"
                                     previousLabel="Précédent"
                                     nextLabel="Suivant"
                                     responsive
                                     (pageChange)="pagem=$event"></pagination-controls>

              </div>
            </div>
          </div>

        </div>
      </div>


    </div>
  </div>
</div>
<!-- Modal Login -->
<div class="modal fade" id="modallogin" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true"
     *ngIf="!userService.isAuthenticated() ">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">

        <h2 class="text-center"> Connecte-toi maintenant! </h2>

      </div>


      <form class="login-form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="modal-body">
          <div class="form-group">
            <label class="text-uppercase">Nom d'utilisteur</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="form.username"
                   #username="ngModel"
                   required/>
            <div *ngIf="f.submitted && username.invalid">
              <div *ngIf="username.errors.required" class="text-danger">Champs vide!</div>
            </div>
          </div>
          <div class="form-group">
            <label class="text-uppercase">Mot de passe </label>
            <input type="password" class="form-control" name="password"
                   [(ngModel)]="form.password"
                   #password="ngModel"
                   required minlength="6"/>
            <div *ngIf="f.submitted && password.invalid">
              <div *ngIf="password.errors.required" class="text-danger">Champs vide!!</div>

            </div>
          </div>
          <div *ngIf="f.submitted && isLoginFailed" class="text-danger">
            Probléme d'authentification  {{errorMessage}}
          </div>


          <div class="modal-footer">

            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            <button type="button" class="btn btn-primary" (click)=" onSubmit()"
                    data-dismiss="modal">Se connecter
            </button>
          </div>
          <div class="copy-text"> Vous n'avez pas encore de compte ? <a href="inscription"> Créer
            votre compte </a>
          </div>
        </div>
      </form>

      <div class="spacer-10"></div>


    </div>
  </div>
</div>
<!--<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Chargement... </p>
</ngx-spinner>-->
<style>
  .my-pagination /deep/ .ngx-pagination .current {
    background: #3da0ff;
  }
</style>


