<div class="hero-area">
  <div class="page-banner parallax" style="background-image:url('../../assets/images/carousel2.jpg');">
    <div class="container">
      <div class="page-banner-text">
        <h1 class="block-title">Nos Événements </h1>
      </div>
    </div>
  </div>
</div>
<br>

<div class="container">

  <div class="col-md-12 col-sm-12" *ngIf="event">
    <div class="well widget widget_volunteer_form">


      <div style="text-align: center;"><h2>  {{event.titre}} </h2></div>

      <hr/>
      <div class="row">
        <div class="col-sm-6">
          <p><strong>Déscription :</strong> {{event.description}} </p>


        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-6"><i class="fas fa-clock"></i><strong> Quand? :</strong>
              {{event.dateDebut | date}}
            </div>
            <div class="col-sm-6"><i class="fas fa-map-marked-alt"></i> <strong> Où? : </strong>
              {{event.ville}} à {{event.adresse}}
            </div>
          </div>
          <br>
          <div class="row" *ngIf="event.frais">
            <div class="col-sm-6">
              <strong> <i class="fas fa-money-check-alt"></i> Prix d'inscription? :</strong>  {{event.frais}} DT
            </div>
            <div class="col-sm-6">
              <span class="badge badge-danger">Inscription obligatoire</span></div>
          </div>


        </div>
      </div>
      <br>

      <div class="tabs">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#sampletab1"> Besoin des biens </a></li>
          <li><a data-toggle="tab" href="#sampletab2"> Missions bénévoles </a></li>
        </ul>
        <div class="tab-content">
          <div id="sampletab1" class="tab-pane active">
            <div class="alert alert-danger" role="alert" *ngIf="biens.length == 0">
              Cet événement ne contient pas des besoins
            </div>
            <br>


            <table class="table table-bordered" *ngIf="biens.length != 0">
              <small *ngIf="greater" class="text-danger"> Vous avez dépassé la quantité restante!!! </small>

              <!--Table head-->
              <thead class="table-active ">
              <tr>
                <th>
                  <div style="text-align: center; color: black">Titre Bien</div>
                </th>
                <th>
                  <div style="text-align: center;color: black">Quantités demandées</div>
                </th>
                <th>
                  <div style="text-align: center;color: black">Totale Quantités données</div>
                </th>
                <th>
                  <div style="text-align: center;color: black">Reste</div>
                </th>

                <th>
                  <div style="text-align: center;color: black">Votre Don</div>
                </th>

              </tr>
              </thead>
              <!--Table head-->


              <tbody *ngFor="let b of biens| paginate:{
    id:'listing_pagination',
    itemsPerPage:10,
    currentPage:page,
    totalItems:totalbien

    }">
              <tr>
                <td>
                  <div style="text-align: center; color: black">{{b.id}}**{{b.titreBien}}</div>
                </td>
                <td>
                  <div style="text-align: center;color: black">{{b.qte}}</div>
                </td>
                <td>
                  <div style="text-align: center;color: black">{{b.totaleqteDonnee}}</div>
                </td>
                <td>
                  <div style="text-align: center;color: black">{{b.qte - b.totaleqteDonnee}}</div>
                </td>
                <td>
                  <div style="text-align: center;">
                    <form [formGroup]="myForm" (ngSubmit)="addParticipationBien(b)">
                      <div class="input-group">
                        <input class="form-control mr-sm-2" type="number" class="form-control mr-sm-2 "
                               name="qtedonnee"
                               id="qtedonnee" formControlName="qtedonnee" placeholder="Taper Votre Don">
                        <span class="input-group-btn">
                         <button class="btn btn-primary btn-sm" *ngIf="userService.isAuthenticated()"
                                 title="Donner"
                                 type="submit"
                                 [disabled]="b.qte==b.totaleqteDonnee">
                      <i class="fas fa-hand-holding-medical"></i>
                         </button>
                          </span>
                        <span class="input-group-btn">
                         <button class="btn btn-primary btn-sm" *ngIf="!userService.isAuthenticated()"
                                 title="Donner"
                                 [routerLink]="['/login']"
                                 [disabled]="b.qte==b.totaleqteDonnee"><i
                           class="fas fa-hand-holding-medical"></i>
                        </button>
                          </span>
                      </div>


                    </form>


                  </div>
                </td>


              </tr>

              </tbody>
              <!--Table body-->
            </table>


            <div style="text-align: center;" *ngIf="biens.length != 0">
              <pagination-controls class="my-pagination" id="listing_pagination" maxSize="5" directionLinks="true"
                                   previousLabel="Précédent"
                                   nextLabel="Suivant"
                                   responsive
                                   (pageChange)="page=$event"></pagination-controls>

            </div>
          </div>
          <div id="sampletab2" class="tab-pane">
            <div class="alert alert-danger" role="alert" *ngIf="missions.length == 0">
              Cet événement ne contient pas des missions.
            </div>
            <table class="table table-bordered " *ngIf="missions.length != 0">

              <!--Table head-->
              <thead class="table-active ">
              <tr>
                <th>
                  <div style="text-align: center;color: black">Titre Mission</div>
                </th>
                <th>
                  <div style="text-align: center;color: black">Déscription</div>
                </th>


                <th>
                  <div style="text-align: center; color: black">Postuler</div>
                </th>
              </tr>
              </thead>
              <!--Table head-->

              <!--Table body-->
              <tbody *ngFor="let m of missions| paginate:{
    id:'listing_pagination2',
    itemsPerPage:10,
    currentPage:pagem,
    totalItems:totalmission

    }">
              <tr>
                <td>
                  <div style="text-align: center; color: black">{{m.titre}}</div>
                </td>
                <td>
                  <div style="text-align: center;  color: black">{{m.description}}</div>
                </td>


                <td>
                  <div style="text-align: center; color: black">

                    <form (ngSubmit)="addParticipationMission(m)" class="form-inline my-2 my-lg-0">


                      <button  [disabled]="true" *ngIf="userService.isAuthenticated()&& missionId.includes(m.id)"
                              class="btn btn-info btn-sm">
                        En Attente
                        {{ missionId.includes(m.id)}}

                      </button>
                      <button *ngIf="userService.isAuthenticated()&& !missionId.includes(m.id)"
                              class="btn btn-info btn-sm"
                              title="Postuler">

                        {{ !missionId.includes(m.id)}}
                        <i class="fas fa-hands-helping"></i>
                      </button>

                      <button *ngIf="!userService.isAuthenticated() " class="btn btn-info btn-sm"
                              title="Postuler"
                              [routerLink]="['/login']">
                        <i
                          class="fas fa-hands-helping"></i></button>
                    </form>


                  </div>
                </td>

              </tr>

              </tbody>
              <!--Table body-->

            </table>
            <div style="text-align: center;" *ngIf="missions.length != 0">
              <pagination-controls class="my-pagination" id="listing_pagination2" maxSize="5" directionLinks="true"
                                   previousLabel="Précédent"
                                   nextLabel="Suivant"
                                   responsive
                                   (pageChange)="pagem=$event"></pagination-controls>

            </div>
          </div>

        </div>
      </div>


    </div>
  </div>
</div>


<style>
  .my-pagination /deep/ .ngx-pagination .current {
    background: #3da0ff;
  }
</style>
