<br>
<table class="table ">

  <!--Table head-->
  <thead>
  <tr>
    <th>
      <div style="text-align: center;">Nom sponsor</div>
    </th>
    <th>
      <div style="text-align: center;">Email</div>
    </th>
    <th>
      <div style="text-align: center;">PhotoSponsor</div>
    </th>

  </tr>
  </thead>
  <!--Table head-->

  <!--Table body-->
  <tbody *ngFor="let sp of sponsors">
  <tr>
    <td>
      <div style="text-align: center;"> {{sp.titreSponsor}}

      </div>
    </td>
    <td>
      <div style="text-align: center;">{{sp.emailSponsor}}</div>
    </td>
    <td>
      <div style="text-align: center;">{{sp.photoSponsor}}</div>
    </td>


  </tr>

  </tbody>
  <!--Table body-->


</table>
<!--Table-->
<p>
  <a href="https://coryrylan.com/blog/creating-a-dynamic-checkbox-list-in-angular">Dynamic Checkbox List with
    FormBuilder</a>
</p>

<form [formGroup]="formSelectDateMult" (ngSubmit)="submit()">

  <label formArrayName="orders" *ngFor="let order of formSelectDateMult.controls.orders; let i = index">
    <input type="checkbox" [formControlName]="i">
    {{ordersData[i].name}}
  </label>

  <div *ngIf="!formSelectDateMult.valid">At least one order must be selected</div>
  <br>
  <button [disabled]="!formSelectDateMult.valid">submit</button>
</form>
