<div class="hero-area">
  <div class="page-banner parallax" style="background-image: url('../../assets/images/benevole.jpg');">
    <div class="container">
      <div class="page-banner-text">
        <h1 class="block-title">Tableau de bord </h1>
      </div>
    </div>
  </div>
</div>
<div class="spacer-75"></div>


<div class="container">

  <div class="col-md-12 col-sm-12">
    <div class="well widget widget_volunteer_form">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="card">
            <div class="card-body text-center">
              <img src='../../assets/images/tunisiaVolonteer.jpg'

                   class="img-fluid" alt="Responsive image" style="width:54%;height: 100%">

            </div>
            <div class="card-body text-center">
              <h5 class="card-title text-uppercase"><a class="card-link" [routerLink]="['/missionsBenevole']">Mes
                participations bénévolat </a>
              </h5>

            </div>

          </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="card">
            <div class="card-body text-center">
              <img class=" img-fluid"
                   src="https://img-4.linternaute.com/_bZ43PTthGyF0FxP8obRx_EdzjE=/1240x/smart/cf6fbc63860e486eb4ec9de17d8aacca/ccmcms-linternaute/11201531.jpg"
                   alt="card image"
                   style="width:46% ; height: 50%">
            </div>
            <div class="card-body text-center">
              <h5 class="card-title text-uppercase"><a class="card-link">Mes
                participations aux événements </a>
              </h5>

            </div>

          </div>


        </div>


      </div>
      <br>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="card">
            <div class="card-body text-center">
              <img class=" img-fluid"
                   src='../../assets/images/calendar.jpg'
                   alt="card image" style="width:46% ; height: 50%">
            </div>
            <div class="card-body text-center">
              <h5 class="card-title text-uppercase"><a class="card-link" [routerLink]="['/mesDons']">Mes dons des
                biens </a>
              </h5>

            </div>

          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="card">
            <div class="card-body text-center">
              <img class=" img-fluid"
                   src="https://sites.google.com/site/assofrf16/_/rsrc/1513342418196/espace-adherent/Espace%20adherent%20button.PNG?height=189&width=320"
                   alt="card image" style="width:50% ; height: 50%">
            </div>
            <div class="card-body text-center">
              <h5 class="card-title text-uppercase"><a class="card-link">Espace
                Adhérent </a>
              </h5>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>

