<div class="hero-area">
  <div class="page-banner parallax" style="background-image:url('./assets/images/calendar.jpg');">
    <div class="container">
      <div class="page-banner-text">
        <h1 class="block-title">Calendrier des événements </h1>
      </div>
    </div>
  </div>
</div>
<div class="spacer-75"></div>
<div id="main-container">
  <div class="content">
    <div class="container">

      <div class="col-md-12 col-sm-12">
        <div class="well widget widget_volunteer_form">
          <h2 class="text-center">Calendrier des événements

          </h2>
          <div class="alert alert-danger" role="alert" *ngIf="evenements.length == 0">
            Impossible de se connecter au serveur pour l'instant .
          </div>
          <div *ngIf="calendarEvents.length>0">
            <full-calendar eventTextColor="white"
                           [plugins]="calendarPlugins" [events]="calendarEvents"></full-calendar>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
