<div class="site-footer parallax parallax3">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="widget footer_widget">
          <h4 class="widgettitle">Association</h4>
          <blockquote>
          <p><img src="assets/images/logo.ico" alt="">

            La force du don humanitaire ne demeure pas que dans le montant, mais bien dans le bon emploi du montant.</p>
            <footer>Gilbert Choulet </footer>
          </blockquote>

        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="widget footer_widget widget_links">
          <h4 class="widgettitle">AGIR AVEC NOUS</h4>
          <ul>
            <li><a [routerLink]="['/devenirBenevole']">Devenez bénévole</a></li>
            <li><a [routerLink]="['/donnerBien']"> Devenez Donneurs</a></li>
            <li><a [routerLink]="['/evenementList']">  Nos événements</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="widget footer_widget">
          <h4 class="widgettitle">Retrouvez-nous sur</h4>
          <ul class="social-icons-rounded social-icons-colored">
            <li class="facebook"><a href="#"><i class=" fab fa-facebook"></i></a></li>
            <li class="twitter"><a href="#"><i class=" fab fa-twitter-square"></i></a></li>
            <li class="googleplus"><a href="#"><i class=" fab fa-google-plus-g"></i></a></li>
            <li class="youtube"><a href="#"><i class=" fab fa-youtube"></i></a></li>
            <li class="instagram"><a href="#"><i class=" fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
<a id="back-to-top"><i class="fa fa-angle-double-up"></i></a>
<!-- Site Footer -->
<div class="site-footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="copyrights-col-left">
          <p>&copy; 2020 PFE. </p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6"></div>

    </div>
  </div>
</div>
