<div class="hero-area">
  <div class="page-banner parallax" style="background-image: url('./assets/images/donate.jpg');">
    <div class="container">
      <div class="page-banner-text">
        <h1 class="block-title">Nous soutenir</h1>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">

  <div class="col-md-12 col-sm-12">
    <div class="well widget widget_volunteer_form">
      <h2 class="text-center"> FAITE UN DON</h2>
      <div class="text-center">
        <label class="textlabel"> Cartes bancaires</label>

        <div class="providers ">
          <img class="provider-image"
               src='./assets/images/Mastercard.png'>

          <img class="provider-image"
               src='./assets/images/visacart.png'>
        </div>

      </div>
      <div class="form-group">
        <div class="form-row">
        </div>
      </div>
      <div class="form-group">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="textlabel">Mantant total à payer : </label>
            <input type="text" class="form-control" name="nom" required placeholder="Montant "/>
          </div>
          <div class="form-group col-md-6">
            <label class="textlabel">Numéro de la carte :</label>
            <input type="text" class="form-control" name="numcarte" required placeholder="Numéro de la carte"/>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label class="textlabel">MM : </label>
            <input type="text" class="form-control" name="nom" required placeholder="Mois "/>
          </div>
          <div class="form-group col-md-4">
            <label class="textlabel">YY :</label>
            <input type="text" class="form-control" name="numcarte" required placeholder="Année"/>
          </div>
          <div class="form-group col-md-4">
            <label class="textlabel">CVV :</label>
            <input type="text" class="form-control" name="numcarte" required placeholder="CVV"/>
          </div>
        </div>
      </div>
      <div class="text-center">

        <button type="submit" class="btn btn-primary" type="button">
          Donner
        </button>

      </div>

    </div>
  </div>

</div>
