<div class="hero-area">
  <div class="page-banner parallax" style="background-image: url('../../assets/images/benevole.jpg');">
    <div class="container">
      <div class="page-banner-text">
        <h1 class="block-title">Mes missions </h1>
      </div>
    </div>
  </div>
</div>
<div class="spacer-75"></div>

<div class="container">

  <div class="col-md-12 col-sm-12">
    <div class="well widget widget_volunteer_form">
      <h2 class="text-center"> Tous mes demandes </h2>

      <div class="alert alert-danger" role="alert" *ngIf="listMissionUser.length == 0 && isServerProblem==true">
        Impossible de se connecter au serveur pour l'instant .
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="listMissionUser.length == 0 && isServerProblem==false">
        Aucune participation trouvée      </div>

      <table class="table table-bordered" *ngIf="listMissionUser.length!=0">


        <!--Table head-->
        <thead class="table-active rounded">
        <tr>
          <th>
            <div style="text-align: center;">Titre Mission</div>
          </th>


          <th>
            <div style="text-align: center;">Événements</div>
          </th>
          <th>
            <div style="text-align: center;">Date de participation</div>
          </th>

          <th>
            <div style="text-align: center;"></div>
          </th>

        </tr>
        </thead>
        <!--Table head-->


        <tbody *ngFor="let lm of listMissionUser | paginate:{
    id:'listing_pagination',
    itemsPerPage:10,
    currentPage:page,
    totalItems:totalbien

    }">
        <tr>
          <td>
            <div style="text-align: center;"> {{lm.mission.titre}}</div>
          </td>
          <td>
            <div style="text-align: center;"><a [routerLink]=""
                                                (click)="eventDetail(lm.mission.evenement.id)">{{lm.mission.evenement.titre}} </a>
            </div>
          </td>
          <td>
            <div style="text-align: center;">{{lm.demandeDate | date}}</div>
          </td>
          <td>
            <div *ngIf="lm.affected==1" class="alert alert-success"> Vous êtes affectée à cette mission</div>
            <div style="text-align: center;" *ngIf="lm.affected==0">


              <button class="btn btn-rounded  btn-danger" title="Annuler"
                      data-toggle="modal"
                      data-target="#modalAnnulation" (click)="openModalFreeMission(lm.mission)"><span
                class="fas fa-window-close"></span> Annuler
              </button>

            </div>
          </td>


        </tr>

        </tbody>
        <!--Table body-->

      </table>
    <div style="text-align: center;" *ngIf="listMissionUser.length != 0">
         <pagination-controls class="my-pagination" id="listing_pagination" maxSize="5" directionLinks="true"
                              previousLabel=""
                              nextLabel=""
                              responsive
                              (pageChange)="page=$event"></pagination-controls>

       </div></div>
  </div>
</div>

<!-- ============================================================== -->
<!-- Modal Annulation -->
<!-- ============================================================== -->
<div class="modal fade" id="modalAnnulation" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Annuler votre condidature</h5>

      </div>
      <div class="modal-body">
        vous êtes sûre d'annuler votre candidature pour <strong>{{titre.value}}</strong>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-rounded" data-dismiss="modal">Fermer
        </button>

        <button type="button" (click)="libererMission()" data-dismiss="modal"
                class="btn btn-danger btn-rounded btn-sm">Oui

        </button>

      </div>
    </div>

  </div>
</div>
<!-- ============================================================== -->
<!-- End Modal Annulation -->
<!-- ============================================================== -->
<style>
  .my-pagination /deep/ .ngx-pagination .current {
    background: #3da0ff;
  }
</style>
