<div class="hero-area">
  <div class="page-banner parallax" style="background-image:url('../../assets/images/tabBord.jpg');">
    <div class="container">
      <div class="page-banner-text">
        <h1 class="block-title">Nos Événements </h1>
      </div>
    </div>
  </div>
</div>
<div class="spacer-75"></div>

<!-- Main Content -->
<div id="main-container">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-8 content-block">
          <div class="alert alert-danger" role="alert" *ngIf="evenements.length == 0">
            Impossible de se connecter au serveur pour l'instant .
          </div>
          <ul class="events-list" *ngFor="let evt of evenements | paginate:{
    id:'listing_pagination',
    itemsPerPage:5,
    currentPage:page,
    totalItems:totalRecords

    }">
            <div class="container">

              <div class="col-md-8 col-sm-8">
                <div class="well widget widget_volunteer_form">
                  <li class="event-list-item">
                                <span class="event-date">
                                    <span class="date">{{evt.dateDebut| date :'d'}} </span>
                                    <span class="month">{{evt.dateDebut| date :'MMMM'}}</span>
                                    <span class="year">{{evt.dateDebut| date :'y'}}</span>
                                </span>
                    <div class="event-list-cont">
                      <span class="meta-data">{{evt.dateDebut|date}}</span>
                      <h4 class="post-title"><a (click)="eventDetail(evt.id)">{{evt.titre}}</a>
                        &nbsp;
                        <span *ngIf="(evt.dateFin|date: 'shortDate') < (dateJour | date: 'shortDate')"
                              class="badge badge-danger">
                  Passé  </span>
                        {{evt.dateFin|date: 'shortDate'}} ****** {{dateJour | date: 'shortDate'}}
                      </h4>
                      <p>{{evt.description}}</p>
                      <a (click)="eventDetail(evt.id)" class="btn btn-default">Découvrir</a>
                    </div>
                  </li>

                </div>
              </div>
            </div>
          </ul>
          <!-- Page Pagination -->
          <div style="text-align: center;" *ngIf="evenements.length != 0">
            <pagination-controls class="my-pagination " id="listing_pagination" maxSize="5" directionLinks="true"
                                 previousLabel=""
                                 nextLabel=""
                                 responsive
                                 (pageChange)="page=$event"></pagination-controls>

          </div>

        </div>


        <div class="col-md-4 sidebar-block">
          <div class="widget sidebar-widget widget_categories">
            <h3 class="widgettitle">Catégories</h3>
            <ul>
              <li><a href="#">all</a></li>
            </ul>
            <ul *ngFor="let ev of eventCountCategories">


              <li><a href="#">{{ev.categorie|uppercase}}</a> ({{ev.count}})</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="spacer-75"></div>


<style>
  .my-pagination /deep/ .ngx-pagination .current {
    background: #3da0ff;
  }
</style>
