

<div class="body">
  <!-- Topbar -->
  <header class="topbar">
    <div class="container">

      <ul class="social-icons topmenu pull-right">
        <li class="facebook"><a [routerLink]="['/login']" *ngIf="!userService.isAuthenticated()"> S'authentifier </a>
        </li>
        <li class="twitter"><a [routerLink]="['/inscription']" *ngIf="!userService.isAuthenticated()"> S'inscrire</a>
        </li>
        <li class="youtube"><a routerLink="/account" *ngIf="userService.isAuthenticated()"> <i class="fas fa-user"></i>
          Mon profile </a></li>
        <li class="youtube"><a routerLink="/tabBord" *ngIf="userService.isAuthenticated()"><i class="fa fa-table"
                                                                                              aria-hidden="true"></i>
          Tableau de bord </a></li>
        <li class="youtube"><a (click)="logout()" *ngIf="userService.isAuthenticated()"><i
          class="fas fa-sign-out-alt"></i></a></li>


      </ul>

      <div class="header-info-col">
        <i class="fa fa-headphones"></i> <strong> +216 55 698 477</strong>
      </div>
      <div class="header-info-col">
        <i class="far fa-envelope"></i> <strong> association@gmail.com</strong>
      </div>
    </div>
  </header>
  <!-- Site Header Wrapper -->
  <div class="site-header-wrapper">
    <!-- Site Header -->
    <header class="site-header">
      <div class="container">
        <div class="site-logo">
          <a href="#" class="default-logo"><img [src]=image alt="Logo"></a>

        </div>
        <a href="#" class="visible-sm visible-xs" id="menu-toggle"><i class="fa fa-bars"></i></a>
        <ul class="sf-menu dd-menu pull-right" role="menu">
          <li><a href="#">Accueil</a></li>
          <li><a>Agir avec nous</a>
            <ul>
              <li><a [routerLink]="['/payement']">Devenir adhérent</a></li>
              <li><a [routerLink]="['/devenirBenevole']">Devenir Bénévole</a></li>
              <li><a [routerLink]="['/donnerBien']">Donner des biens</a></li>

            </ul>
          </li>

          <li><a>événements</a>
            <ul>
              <li><a [routerLink]="['/evenementList']">Liste événements</a></li>
              <li><a [routerLink]="['eventCalendar']">Calendrier des événements</a></li>
            </ul>
          </li>
          <!-- <li><a href="">Qui sommes nous?</a>

           </li>-->

          <li>
            <button [routerLink]="['/payement']" class="btn btn-primary btn-ghost btn-light btn-rounded pull-right">
              Faire un don
            </button>


          </li>
        </ul>
      </div>
    </header>
  </div>
  <!-- Hero Area -->

</div>
