<hr>
<div class="container error-container">
  <div class="row  d-flex align-items-center justify-content-center">
    <div class="col-md-12 text-center">
      <h1 style=" font-size: 150px;">404</h1>
      <h2 class="small-text">Oops! La page demandée n'a pas été trouvée.</h2>


    </div>
    <div class="col-md-6  text-center">
      <p> Malheureusement, la page que vous recherchez n'a pu être trouvée.
        Elle peut être temporairement indisponible, déplacée ou elle n'existe pas.</p>

      <a href="/" type="button" class="button button-dark-blue iq-mt-15 text-center">Retour page d'accueil</a>

    </div>

  </div>


</div>
<div class="spacer-75"></div>

