<div class="hero-area">
  <div class="page-banner parallax" style="background-image: url('../../assets/images/charity.jpg');">
    <div class="container">
      <div class="page-banner-text">
        <h1 class="block-title">Nous soutenir</h1>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">

  <div class="col-md-12 col-sm-12">
    <div class="well widget widget_volunteer_form">


      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <form class="form-inline pull-right" [formGroup]="myForm" (ngSubmit)="getAllBienByRegion()">
          <label class="mr-sm-2">Région </label>
          <select class="form-control" name="region" name="region" formControlName="region">
            <option value="Tunis">Tunis</option>
            <option value="Ariana">Ariana</option>
            <option value="Béja">Béja</option>
            <option value="BenArous">Ben Arous</option>
            <option value="Bizerte">Bizerte</option>
            <option value="Gabès">Gabès</option>
            <option value="Gafsa">Gafsa</option>
            <option value="Sousse">Sousse</option>
            <option value="Jendouba">Jendouba</option>
            <option value="Kairouan">Kairouan</option>
            <option value="Kasserine">Kasserine</option>
            <option value="Kébili">Kébili</option>
            <option value="Kef"> Kef</option>
            <option value="Mahdia">Mahdia</option>
            <option value="Manouba"> Manouba</option>
            <option value="Médenine">Médenine</option>
            <option value="Monastir">Monastir</option>
            <option value="Nabeul">Nabeul</option>
            <option value="Sfax">Sfax</option>
            <option value="SidiBouzid">Sidi Bouzid</option>
            <option value="Siliana">Siliana</option>
            <option value="Sousse">Sousse</option>
            <option value="Tataouine">Tataouine</option>
            <option value="Tozeur">Tozeur</option>
            <option value="Tunis">Tunis</option>
            <option value="Zaghouan">Zaghouan</option>
          </select>
          <button class="btn btn-primary  btn-sm pull-right"><i class="fas fa-search"></i></button>
        </form>
      </div>

      <br>
      <div class="alert alert-info fade in" role="alert" *ngIf="show">
        Filtres actif Région sélectionnée:<strong>{{region.value}}</strong>

        <button (click)="load()" type="button" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>


      </div>
      <h2 class="text-center">Nos Besoins

      </h2>
      <div class="alert alert-danger" role="alert" *ngIf="listBien.length == 0">
        Aucune Mission bénévole disponible pour l'instant à <span class="label label-danger">  {{region.value}}</span>
      </div>
      <table class="table table-bordered">

        <!--Table head-->
        <thead>
        <tr>
          <th>
            <div style="text-align: center;color: black">Titre Bien</div>
          </th>
          <th>
            <div style="text-align: center; color: black">Quantité demandée</div>
          </th>
          <th>
            <div style="text-align: center; color: black">Évenement</div>
          </th>

        </tr>
        </thead>
        <!--Table head-->

        <!--Table body-->
        <tbody *ngFor="let bien of listBien | paginate:{
    id:'listing_pagination',
    itemsPerPage:10,
    currentPage:page,
    totalItems:totalRecords

    }">
        <tr>
          <td>
            <div style="text-align: center; color: black">{{bien.titreBien}}</div>
          </td>
          <td>
            <div style="text-align: center; color: black">{{bien.qte}}</div>
          </td>
          <td>
            <div style="text-align: center;"><a [routerLink]=""
                                                (click)="eventDetail(bien.evenement.id)">{{bien.evenement.titre}}</a>
            </div>
          </td>


        </tr>

        </tbody>
        <!--Table body-->


      </table>
      <!--Table-->

      <div style="text-align: center;">
        <pagination-controls class="my-pagination" id="listing_pagination" maxSize="5" directionLinks="true"
                             previousLabel="Précédent"
                             nextLabel="Suivant"
                             responsive
                             (pageChange)="page=$event"></pagination-controls>

      </div>
    </div>

  </div>
</div>
<style>
  .my-pagination /deep/ .ngx-pagination .current {
    background: #3da0ff;
  }
</style>
