<br>

<div class="container card  ">
  <br>

  <nav class="navbar navbar-expand-lg border rounded">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <label class="mr-sm-2">Région </label>
        <select name="region" class="form-control mr-sm-2" id="selectRegion">
          <option value="Tunisie" selected>Tunisie</option>
          <option value="Ariana">Ariana</option>
          <option value="Béja">Béja</option>
          <option value="BenArous">Ben Arous</option>
          <option value="Bizerte">Bizerte</option>
          <option value="Gabès">Gabès</option>
          <option value="Gafsa">Gafsa</option>
          <option value="Jendouba">Jendouba</option>
          <option value="Kairouan">Kairouan</option>
          <option value="Kasserine">Kasserine</option>
          <option value="Kébili">Kébili</option>
          <option value="LeKef"> Le Kef</option>
          <option value="Mahdia">Mahdia</option>
          <option value="LaManouba">La Manouba</option>
          <option value="Médenine">Médenine</option>
          <option value="Monastir">Monastir</option>
          <option value="Nabeul">Nabeul</option>
          <option value="Sfax">Sfax</option>
          <option value="SidiBouzid">Sidi Bouzid</option>
          <option value="Siliana">Siliana</option>
          <option value="Sousse">Sousse</option>
          <option value="Tataouine">Tataouine</option>
          <option value="Tozeur">Tozeur</option>
          <option value="Tunis">Tunis</option>
          <option value="Zaghouan">Zaghouan</option>
        </select>
        <button class="btn btn-login" title="chercher par région"> Chercher</button>
      </form>
    </div>
  </nav>

  <div class="login-sec">
    <h2 class="text-center">Nous soutenir

    </h2>
  </div>
  <table class="table ">

    <!--Table head-->
    <thead>
    <tr>
      <th>
        <div style="text-align: center;">Titre Bien</div>
      </th>
      <th>
        <div style="text-align: center;">Quantité demandée</div>
      </th>
      <th>
        <div style="text-align: center;">Évenement</div>
      </th>
      <th>
        <div style="text-align: center;">Votre Don</div>
      </th>
      <th>
        <div style="text-align: center;">Donner</div>
      </th>
    </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody *ngFor="let bien of listBien">
    <tr>
      <td>
        <div style="text-align: center;">{{bien.titreBien}}</div>
      </td>
      <td>
        <div style="text-align: center;">{{bien.qte}}</div>
      </td>
      <td>
        <div style="text-align: center;">{{bien.evenement.titre}}</div>
      </td>
      <td>
        <div style="text-align: center;"><input type="number" class="form-control"></div>
      </td>
      <td>
        <div style="text-align: center;">
          <button class="btn btn-login" title="Donner"><i class="fas fa-hand-holding-medical	"></i></button>
        </div>
      </td>

    </tr>

    </tbody>
    <!--Table body-->


  </table>
  <!--Table-->
</div>
