<div class="body">
  <div class="hero-area">
    <!-- Start Hero Slider -->
    <div class="flexslider heroflex hero-slider" data-autoplay="yes" data-pagination="no" data-arrows="yes"
         data-style="fade" data-pause="yes">
      <ul class="slides">
        <li class="parallax" style="background-image: url('./assets/images/slide1.jpg');">
          <div class="flex-caption">
            <div class="container">
              <div class="flex-caption-table">
                <div class="flex-caption-cell">
                  <div class="flex-caption-text">
                    <h2>Ensemble,dévloppons
                      <br>les
                      solidarités</h2>

                    <a [routerLink]="['/evenementList']" class="btn btn-primary">Consulter nos événements</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="parallax" style="background-image:url('./assets/images/volonteer.jpg')">
          <div class="flex-caption">
            <div class="container">
              <div class="flex-caption-table">
                <div class="flex-caption-cell">
                  <div class="flex-caption-text text-align-center">
                    <h2>Un peu d’aide nous fait grand bien.</h2>>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="parallax" style="background-image:url('./assets/images/trees.jpg')">
          <div class="flex-caption">
            <div class="container">
              <div class="flex-caption-table">
                <div class="flex-caption-cell text-align-center">

                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!-- End Hero Slider -->
  </div>
  <div class="featured-links row">
    <a [routerLink]="['/payement']" class="featured-link col-md-4 col-sm-4">
      <span>Nous soutenir</span>
      <strong>Faire un don</strong>
    </a>
    <a [routerLink]="['/devenirBenevole']" class="featured-link col-md-4 col-sm-4">
      <span>Devenir bénévole une bonne idée</span>

      <strong>Devenir bénévole</strong>
    </a>
    <a [routerLink]="['/donnerBien']" class="featured-link col-md-4 col-sm-4">
      <span>Participer par des biens</span>
      <strong>Faire un don des biens</strong>
    </a>

  </div>
  <div class="spacer-75"></div>
  <div id="main-container">
    <div class="content">
      <div class="container">
        <div class="text-align-center">
          <h2>Pourquoi s'engager dans le milieu associatif ? </h2>
          <p class="lead">Parce que votre cause mérite toute notre attention, inscrivez-vous dès maintenant et faites de
            la Tunisie un monde meilleur.</p>
          <div class="text-align-left">
            <div class="spacer-50"></div>
            <div class="row">
              <div class="col-md-4">
                <div class="icon-box ibox-outline">
                  <div class="ibox-icon" style="background-color: #0CC9E8">
                  <i class="fas fa-brain fa-3x" style="color: #ffffff"></i>
                  </div>
                  <h3>Se former</h3>
                  <p>Formez-vous au bénévolat et bénéficiez de l’accompagnement expérimenté d’une structure
                    reconnue et accueillante au sein de laquelle vous pourrez développer vos compétences.</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="icon-box ibox-outline">
                  <div class="ibox-icon" style="background-color: #0CC9E8">
                    <i class="fas fa-globe fa-3x" style="color: #ffffff"></i>
                  </div>
                  <h3>S’ouvrir</h3>
                  <p>S’installe parfois une routine dans notre vie quotidienne, le bénévolat vous sort de votre zone de
                    confort. C’est pourquoi cela peut vous pousser à vous ouvrir aux autres.</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="icon-box ibox-outline">
                  <div class="ibox-icon" style="background-color: #0CC9E8">
               <i class=" fas fa-hand-holding-heart fa-3x" style="color: #ffffff"></i>

                  </div>
                  <h3>Agir</h3>
                  <p>Prenez part à un mouvement de compréhension et de diversité des cultures et devenez acteur de la
                    paix dans le monde.</p>
                </div>
              </div>

            </div>
            <div class="spacer-50 hidden-sm hidden-xs"></div>

          </div>
          <a [routerLink]="['/inscription']" class="btn btn-primary btn-lg scrollto">Inscrivez-vous gratuitement</a>
        </div>
      </div>
      <div class="spacer-75"></div>
      <div class="padding-tb75 parallax parallax-light parallax1 counters"
           style="background-image:url(assets/images/inside6.jpg)">
        <div class="overlay-accent"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
              <div class="fact-ico"><i class="far fa-calendar-check fa-4x"></i></div>
              <div class="timer" data-perc="9000"><span class="count">{{eventCountElmtsDto.nombreEvents}}</span></div>
              <span class="fact">Totale événements</span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
              <div class="fact-ico"><i class=" far fa-heart fa-4x"></i></div>
              <div class="timer" data-perc="96"><span class="count">{{eventCountElmtsDto.nombreMissions}}</span></div>
              <span class="fact">Totale Missions</span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
              <div class="fact-ico"><i class="fas fa-users fa-4x"></i></div>
              <div class="timer" data-perc="1500"><span class="count">{{eventCountElmtsDto.nombreMembres}}</span></div>
              <span class="fact">Totale membres</span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
              <div class="fact-ico"><i class="far fa-handshake fa-4x"></i></div>
              <div class="timer" data-perc="1500"><span class="count">{{eventCountElmtsDto.nombreSponsors}}</span></div>
              <span class="fact">Totale Sponsors</span>
            </div>
          </div>
        </div>
      </div>
      <div class="spacer-75"></div>
    </div>
  </div>
</div>

