



<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">

      <div class="carousel-item active" style="height: 400px">
        <img class="d-block w-100" style="  background-size: cover; background-position: center;"[src]=carousel1 alt="imageTest" alt="First slide">
      </div>
      <div class="carousel-item" style="height: 400px">
        <img class="d-block w-100"style="  background-size: cover; background-position: center;"
             [src]=carousel2
             alt="Second slide">
      </div>
      <div class="carousel-item" style="height: 400px">
        <img class="d-block w-100" style="  background-size: cover; background-position: center;"
             [src]=carousel3 alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

<br>

<div class="container-fluid" style="margin-bottom: 50px;">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">

        <img [src]=adherent class="card-img-top" style="height: 200px"
             alt="...">
        <div class="card-body">
          <h5 class="card-title text-uppercase">DEVENIR Adhérent
          </h5>
          <p class="card-text">
            Les adhérents constituent la personne morale de l’association. Ils soutiennent le projet associatif et
            déterminent la politique de l’association, notamment lors de l’assemblée générale annuelle au cours de
            laquelle ils désignent les membres du conseil d’administration .
          </p>

        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">

        <img [src]=faireDon style="height: 200px;" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title">Faire un Don</h5>
          <p class="card-text">
            L’association mène également des actions transversales autour de l’emploi, de la culture,
            de la
            santé pour permettre aux personnes accompagnées de prendre un nouveau départ.

            Soutenir un projet de l’association , c’est mener à nos côtés le combat contre l’exclusion sociale.
          </p>

        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 18rem;">

        <img [src]=benevole style="height: 200px;"
             class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">DEVENIR BÉNÉVOLE, UN GESTE SIMPLE </h5>
          <p class="card-text">

            Vous avez un talent, des compétences, des idées, un réseau, du temps libre… et envie de les mettre au
            service d’une belle cause, d’actions concrètes, au sein d’une équipe engagée ? Rejoignez notre réseau de
            bénévoles !

          </p>


        </div>
      </div>
    </div>
  </div>
</div>


