
<div class="body">
<div class="hero-area">
  <!-- Start Hero Slider -->
  <div class="flexslider heroflex hero-slider" data-autoplay="yes" data-pagination="no" data-arrows="yes"
       data-style="fade" data-pause="yes">
    <ul class="slides">
      <li class="parallax" style="background-image: url('../../assets/images/slide1.jpg');">
        <div class="flex-caption">
          <div class="container">
            <div class="flex-caption-table">
              <div class="flex-caption-cell">
                <div class="flex-caption-text">
                  <h2>Ensemble,dévloppons
                    <br>les
                    solidarités</h2>

                  <a [routerLink]="['/evenementList']" class="btn btn-primary">Consulter nos événements</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="parallax" style="background-image:url('../../assets/images/volonteer.jpg')">
        <div class="flex-caption">
          <div class="container">
            <div class="flex-caption-table">
              <div class="flex-caption-cell">
                <div class="flex-caption-text text-align-center">
                  <h2>Un peu d’aide nous fait grand bien.</h2>>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="parallax" style="background-image:url('../../assets/images/trees.jpg')">
        <div class="flex-caption">
          <div class="container">
            <div class="flex-caption-table">
              <div class="flex-caption-cell text-align-center">

              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <!-- End Hero Slider -->
</div>
<div class="featured-links row">
  <a  [routerLink]="['/payement']" class="featured-link col-md-4 col-sm-4">
    <span>Nous soutenir</span>
    <strong>Faire un don</strong>
  </a>
  <a  [routerLink]="['/devenirBenevole']" class="featured-link col-md-4 col-sm-4">
    <span>Devenir bénévole une bonne idée</span>

    <strong>Devenir bénévole</strong>
  </a>
  <a [routerLink]="['/donnerBien']" class="featured-link col-md-4 col-sm-4">
    <span>Participer par des biens</span>
    <strong>Faire un don des biens</strong>
  </a>

</div>

<div id="main-container">
  <div class="content">
    <div class="container">
      <div class="text-align-center">
        <h2>Why you should join the mission</h2>
        <p class="lead">Parce que votre cause mérite toute notre attention, inscrivez-vous dès maintenant et faites de la Tunisie un monde meilleur.<br>Donec vel mauris quam Lorem ipsum dolor sit amet.</p>
        <div class="text-align-left">
          <div class="spacer-50"></div>
          <div class="row">
            <div class="col-md-4">
              <div class="icon-box ibox-border">
                <div class="ibox-icon">
                  <i class="fa fa-user-md"></i>
                </div>
                <h3>Health Benefits</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="icon-box ibox-border">
                <div class="ibox-icon">
                  <i class="fa fa-bus"></i>
                </div>
                <h3>Transportation</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="icon-box ibox-border">
                <div class="ibox-icon">
                  <i class="fa fa-mobile-phone"></i>
                </div>
                <h3>Gadgets &amp; Gears</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus.</p>
              </div>
            </div>
          </div>
          <div class="spacer-50 hidden-sm hidden-xs"></div>
          <div class="row">
            <div class="col-md-4">
              <div class="icon-box ibox-border">
                <div class="ibox-icon">
                  <i class="fa fa-heart"></i>
                </div>
                <h3>Inner Satisfaction</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="icon-box ibox-border">
                <div class="ibox-icon">
                  <i class="fa fa-plane"></i>
                </div>
                <h3>Travel the world</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="icon-box ibox-border">
                <div class="ibox-icon">
                  <i class="fa fa-bolt"></i>
                </div>
                <h3>401K Matching</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus.</p>
              </div>
            </div>
          </div>
          <div class="spacer-75 hidden-sm hidden-xs"></div>
        </div>
        <a href="#openings" class="btn btn-primary btn-lg scrollto">Current Openings</a>
      </div>
    </div>
    <div class="spacer-75"></div>
    <div class="padding-tb75 parallax parallax-light parallax1 counters" style="background-image:url(assets/images/inside6.jpg)">
      <div class="overlay-accent"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <div class="fact-ico"> <i class="fa fa-dollar fa-4x"></i> </div>
            <div class="timer" data-perc="9000"> <span class="count">1380089</span> </div>
            <span class="fact">Amount raised</span>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <div class="fact-ico"> <i class="fa fa-heart-o fa-4x"></i> </div>
            <div class="timer" data-perc="96"> <span class="count">36</span> </div>
            <span class="fact">Causes</span>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <div class="fact-ico"> <i class="fa fa-bar-chart-o fa-4x"></i> </div>
            <div class="timer" data-perc="1500"> <span class="count">1211</span> </div>
            <span class="fact">Total members</span>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <div class="fact-ico"> <i class="fa fa-hand-peace-o fa-4x"></i> </div>
            <div class="timer" data-perc="1500"> <span class="count">61098</span> </div>
            <span class="fact">People Impacted</span>
          </div>
        </div>
      </div>
    </div>
    <div class="spacer-75"></div>
  </div>
</div>
</div>

