<br> <br>
<div class="container card">
  <br>
  <table class="table table-bordered" *ngIf="listBien">


    <!--Table head-->
    <thead class="table-active rounded">
    <tr>
      <th>
        <div style="text-align: center;">Titre Bien</div>
      </th>

      <th>
        <div style="text-align: center;"> Quantités données</div>
      </th>

      <th>
        <div style="text-align: center;">Événements</div>
      </th>
      <th>
        <div style="text-align: center;">Date de participation</div>
      </th>
      <th>
        <div style="text-align: center;"></div>
      </th>
    </tr>
    </thead>
    <!--Table head-->


    <tbody *ngFor="let bien of listBien | paginate:{
    id:'listing_pagination',
    itemsPerPage:10,
    currentPage:page,
    totalItems:totalbien

    }">
    <tr>
      <td>
        <div style="text-align: center;">{{bien.titreBien}}</div>
      </td>
      <!--<td>
        <div style="text-align: center;">{{participerBien.qteDonnee}}</div>
      </td>-->
      <td>
        <div style="text-align: center;">{{bien.evenement.titre}}</div>
    <!--  </td>
      <td>
        <div style="text-align: center;">{{participerBien.dateParticipation|date}}</div>
      </td>-->
      <td>
        <div style="text-align: center;" class="alert alert-success" role="alert">
          Merci de votre Générosité
        </div>
      </td>

    </tr>

    </tbody>
    <!--Table body-->

  </table>
 <!-- <div style="text-align: center;" *ngIf="listParticiperBien.length != 0">
    <pagination-controls class="my-pagination" id="listing_pagination" maxSize="5" directionLinks="true"
                         previousLabel="Précédent"
                         nextLabel="Suivant"
                         responsive
                         (pageChange)="page=$event"></pagination-controls>

  </div>-->
</div>
<style>
  .my-pagination /deep/ .ngx-pagination .current {
    background: #DE6262;
  }
</style>
